# Add files here to ignore them from prettier formatting

/dist
/coverage
tmp
/.yarn
pnpm-lock.yaml

.nx/cache
# Ignore generated schema files in packages
/packages/*/src/generators/**/*-schema.d.ts

/.nx/workspace-data
